<div class="header">
    <a href="#default" class="logo"><img src="logo.png" width="50%"></a>
    <div class="header-right">
      <a  href="/">Accueil</a>
      <a href="#contact">Cours</a>
      <a href="/student" class="active">Etudiants</a>
      <a href="/examen">Examens</a>
    </div>
  </div>