<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <script src="/script.js"></script>

</head>
<body>
    <%- include('header.ejs') %>
    
<center><h3>Liste des étudiants Ingénierie d'Applications Web et Mobiles</h3></center>
<table id="customers">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>date de naissance</th>
        <th colspan="2">Actions</th>

    </tr>
  <tr>
    <td>BAKLOUL</td>
    <td>Salma</td>
    <td>11/03/2002</td>
    <td><a href="/"><img src="edit.png" width="24" height="24"></a></td>
    <td><a href="/"><img src="delete.png" width="24" height="24"></a></td>
 
    </tr>
  <tr>
    <td>BOUSEKRAOUI </td>
    <td>Asmaa       </td>
    <td>04/07/2000  </td>
    <td><a href="/"><img src="edit.png" width="24" height="24"></a></td>
    <td><a href="/"><img src="delete.png" width="24" height="24"></a></td>
      </tr>
    <tr>
    <td>BOUSEKRAOUI</td>
    <td>imane Imane</td>
    <td>02/06/2000 </td>
    <td><a href="/"><img src="edit.png" width="24" height="24"></a></td>
    <td><a href="/"><img src="delete.png" width="24" height="24"></a></td>
    </tr>
    <tr>
    <td>BOUSLAMA   </td>
    <td>youssef    </td>
    <td>29/06/2001 </td>
    <td><a href="/"><img src="edit.png" width="24" height="24"></a></td>
    <td><a href="/"><img src="delete.png" width="24" height="24"></a></td>
    </tr>
    <tr>
    <td>EL BAKKALI</td>
    <td>Oumayma   </td>
    <td>24/06/2001</td>
    <td><a href="/"><img src="edit.png" width="24" height="24"></a></td>
    <td><a href="/"><img src="delete.png" width="24" height="24"></a></td>
    </tr>
    <tr>
    <td>EL IDRISSI </td>
    <td>Rkia       </td>
    <td>04/04/2001 </td>
    <td><a href="/"><img src="edit.png" width="24" height="24"></a></td>
    <td><a href="/"><img src="delete.png" width="24" height="24"></a></td>
    </tr>
    <tr>
    <td>GUENDOULI  </td>
    <td>Abdellah   </td>
    <td>20/04/2000 </td>
    <td><a href="/"><img src="edit.png" width="24" height="24"></a></td>
    <td><a href="/"><img src="delete.png" width="24" height="24"></a></td>
    </tr>
    <tr>
    <td>HAMDAOUI      </td>
    <td>Wafae         </td>
    <td>15/09/2001    </td>
    <td><a href="/"><img src="edit.png" width="24" height="24"></a></td>
    <td><a href="/"><img src="delete.png" width="24" height="24"></a></td>
    </tr>
    <tr>
    <td>KEBDANI         </td>
    <td>Mohamed Amine   </td>
    <td>25/05/2002      </td>
    <td><a href="/"><img src="edit.png" width="24" height="24"></a></td>
    <td><a href="/"><img src="delete.png" width="24" height="24"></a></td>
    </tr>
    <tr>
    <td>LAMINI     </td>
    <td>Amal       </td>
    <td>13/02/2001 </td>
    <td><a href="/"><img src="edit.png" width="24" height="24"></a></td>
    <td><a href="/"><img src="delete.png" width="24" height="24"></a></td>
    </tr>
    <tr>
    <td>OUNAR       </td>
    <td>Souhaila    </td>
    <td>23/02/2002  </td>
    <td><a href="/"><img src="edit.png" width="24" height="24"></a></td>
    <td><a href="/"><img src="delete.png" width="24" height="24"></a></td>
    </tr>
    <tr>
    <td>SAIBARI    </td>
    <td>Chaymae    </td>
    <td>09/02/2000 </td>
    <td><a href="/"><img src="edit.png" width="24" height="24"></a></td>
    <td><a href="/"><img src="delete.png" width="24" height="24"></a></td>
    </tr>
    <tr>
    <td>SEFFARI        </td>
    <td>Fatima Ezzahra </td>
    <td>16/03/2001     </td>
    <td><a href="/"><img src="edit.png" width="24" height="24"></a></td>
    <td><a href="/"><img src="delete.png" width="24" height="24"></a></td>
    </tr>
    <tr>
    <td>SHIMI      </td>
    <td>Younes     </td>
    <td>15/07/2000 </td>
    <td><a href="/"><img src="edit.png" width="24" height="24"></a></td>
    <td><a href="/"><img src="delete.png" width="24" height="24"></a></td>
    </tr>
    <tr>
    <td>TOUIHAME   </td>
    <td>RANIA      </td>
    <td>10/12/2000 </td>
    <td><a href="/"><img src="edit.png" width="24" height="24"></a></td>
    <td><a href="/"><img src="delete.png" width="24" height="24"></a></td>
    </tr>
</table>

</body>
</html>





